replicaCount: 1

image:
  repository: 437327607644.dkr.ecr.eu-central-1.amazonaws.com/argo-test
  tag: "1.1"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 5000
  nodePort: 30050